<%- include ('../partials/adminHeader.ejs') %>

<div class="container">

  <nav class="mb-2" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
      <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
      <li class="breadcrumb-item active">Default</li>
    </ol>
  </nav>

  <div class="row g-2 mb-4">
    <div class="col-auto">
      <h2 class="mb-0">Categories</h2>
    </div>
  </div>

  <a href="/admin/addCategories"><button type="button" class="btn btn-primary mx-3">+ Add Categories</button></a>
<br><br>


  <div id="tableExample3" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;age&quot;],&quot;page&quot;:5,&quot;pagination&quot;:true}">


    <div class="table-responsive">
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">NO</th>
        <th scope="col">Category Name</th>
        <th scope="col">Actions</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < category.length; i++) { %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= category[i].name %></td>
        <td>
          <a href="/admin/edit-category?id=<%- category[i]._id %>"><button type="button" class="btn btn-primary">edit</button></a>
          
          
        </td>
       <td>
        <a id="<%- category[i]._id %>"  href="/admin/delete-category?id=<%- category[i]._id %>">
          <% if(category[i].is_available) { %>
          <button class="btn btn-success" >Unlist</button>
          <% } else { %>

          <button class="btn btn-danger">list</button>

          <% } %>
        </a>
       </td>

      </tr>
      <% } %>
    </tbody>
  </table>
    </div>

  <div class="d-flex justify-content-between mt-3"><span class="d-none d-sm-inline-block" data-list-info="data-list-info">1 to 5 <span class="text-body-tertiary"> Items of </span>43</span>
    <div class="d-flex"><button class="page-link disabled" data-list-pagination="prev" disabled=""><svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path></svg><!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com --></button>
      <ul class="mb-0 pagination"><li class="active"><button class="page" type="button" data-i="1" data-page="5">1</button></li><li><button class="page" type="button" data-i="2" data-page="5">2</button></li><li><button class="page" type="button" data-i="3" data-page="5">3</button></li><li class="disabled"><button class="page" type="button">...</button></li></ul><button class="page-link pe-0" data-list-pagination="next"><svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg><!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com --></button>
    </div>
  </div>
</div>
</div>

<%- include ('../partials/adminFooter.ejs') %>
