<%- include ('../partials/adminHeader.ejs') %>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>




<div class="container">
      
     

      <div class="row g-2 mb-4">
        <div class="col-auto">
          <h2 class="mb-0">Analytics</h2>
        </div>
      </div>
      <hr>
      <br>

    
      <div class="px-3 mb-6">
      


            <div class="row justify-content-between g-0">
                  <div class="col-6 col-md-4 col-xxl-2 text-center">
                      <span class="uil fs-5 lh-1 uil-users-alt text-primary"></span>
                      <h1 class="fs-3 pt-3"><%= customers %></h1>
                      <p class="fs-9 mb-0">Total Customers</p>
                  </div>
                  <div class="col-6 col-md-4 col-xxl-2 text-center">
                        <span class=" util fs-5 lh-1 uil-chart-line text-primary"></span>
                        <h1 class="fs-3 pt-3"><%= sales %></h1>
                        <p class="fs-9 mb-0">Total Sales</p>
                    </div>
                  <div class="col-6 col-md-4 col-xxl-2 text-center">
                      <span class=" util fs-5 lh-1 uil-rupee-sign text-primary"></span>
                      <h1 class="fs-3 pt-3"><%= totalRevenue %></h1>
                      <p class="fs-9 mb-0">Total Revenue</p>
                  </div>
              </div>
              
              
          </div>
      
         
      


    </div>
   






  
        <!-- Sale & Revenue End -->

<hr>
        <!-- Sales Chart Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="col-auto">
                        <h3 class="mb-0">Stocks Report</h3>
                      </div>
                    <canvas id="myChart"></canvas>
                </div>
                <hr>



                <div class="col-md-12 mb-3">
                  <div class="col-auto">
                        <h3 class="mb-0">Sales Report</h3>
                      </div>
                      <br>
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>
        

        <input type="hidden" id="pds" value="<%=pds%>">
        <input type="hidden" id="qty" value="<%=qty%>">
        <input type="hidden" id="key1" value="<%=key1%>" />
        <input type="hidden" id="key2" value="<%=key2%>" />

      

        <script>

            x = document.getElementById("pds").value;
            y = document.getElementById("qty").value;
            xValues = x.split(",")
            yValues = y.split(",")
            key1 = document.getElementById('key1').value
            key2 = document.getElementById('key2').value
            xValue = key1.split(",")
            yValue = key2.split(",")
            console.log(xValue, yValue);

            var barColors = [
                  "#8ab7e0",
                  "#ffb285",
                  "#93d8a7",
                  "#e3a4a7",
                  "#b7a4d2",
                  "#b7a6a1",
                  "#f0c9e0",
                  "#b7b7b7",
                  "#d3e08f",
                  "#7dc5df",
                  "#a8aad3",
                  "#b7c3a6",
                  "#d4c2e0",
                  "#ffd3bb",
                  "#ffc4c6",
                  "#c9e7c0",
                  "#ffd3b7",
                  "#c8d7eb",
                  "#f8dde9",
                  "#d8cce3"

            

            ];

            new Chart("myChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        label: "Stock remains",
                        backgroundColor: barColors,
                        data: yValues,
                    }]
                },
                options: {
                    title: {
                        display: true,
                        text: "Products and Available Stock"
                    }
                }
            });

        </script>
        
        <script>
            new Chart("myChart2", {
                type: "pie",
                data: {
                    labels: xValue,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValue
                    }]
                },
                
                options: {
                    title: {
                        display: true,
                        text: "Productwise Sale"
                    }
                }
            });
        </script>


     
<br>

      
<%- include ('../partials/adminFooter.ejs') %>