<%- include ('../partials/adminHeader.ejs') %>



    <div class="container">
      

      <nav class="mb-2" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item"><a href="#!">Page 1</a></li>
          <li class="breadcrumb-item"><a href="#!">Page 2</a></li>
          <li class="breadcrumb-item active">Default</li>
        </ol>
      </nav>

      <div class="row g-2 mb-4">
        <div class="col-auto">
          <h2 class="mb-0">Customers</h2>
        </div>
      </div>


     
      
      <div id="tableExample3" data-list="{&quot;valueNames&quot;:[&quot;name&quot;,&quot;email&quot;,&quot;age&quot;],&quot;page&quot;:5,&quot;pagination&quot;:true}">
        <div class="search-box mb-3 mx-auto">
          <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input class="form-control search-input search form-control-sm" type="search" placeholder="Search" aria-label="Search">
            <span class="fas fa-search search-box-icon"></span>          </form>
        </div>
        <div class="table-responsive">
          <table class="table table-striped table-sm fs-9 mb-0">
            <thead>
              <tr>
                <th class="sort border-top border-translucent ps-3" data-sort="name">Name</th>
                <th class="sort border-top" data-sort="email">Email</th>
                <th class="sort border-top" data-sort="age">Mobile</th>
                <th class="sort text-end align-middle pe-0 border-top" scope="col">Action</th>
              </tr>
            </thead>
            <tbody class="list">
              
              <% if(users.length> 0){

                for(let i=0;i<users.length;i++){ %>
              
              <tr>
                <td class="align-middle ps-3 name"> <%= users[i].name %></td>
                <td class="align-middle email"> <%= users[i].email %></td>
                <td class="align-middle age"><%= users[i].mobile%></td>
                <td class="align-middle white-space-nowrap text-end pe-0">

                  <% if(users[i].is_verified){%>
                    <button class="btn btn-primary" type="button" onclick="block('<%- users[i]._id %>')" data-bs-toggle="modal" data-bs-target="#block">Block</button>
                    <% } else{%>
                      <button class="btn btn-primary" type="button" onclick="block('<%- users[i]._id %>')" data-bs-toggle="modal" data-bs-target="#unBlock">UnBlock</button>
                      <%}%>
                      <a id="<%- users[i]._id %>" style="text-decoration: none; color: #ffff; display: none;"
                        href="/admin/block-user?id=<%= users[i]._id %>">Block</a>
                        <% } } else{ %>
                          <tr>
                            <td colspan="5">users not found </td>
                          </tr>
                          <% } %>


                </td>
              </tr>
              
              
              
              </tbody>
          </table>
        </div>
        <div class="d-flex justify-content-between mt-3"><span class="d-none d-sm-inline-block" data-list-info="data-list-info">1 to 5 <span class="text-body-tertiary"> Items of </span>43</span>
          <div class="d-flex"><button class="page-link disabled" data-list-pagination="prev" disabled=""><svg class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z"></path></svg><!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com --></button>
            <ul class="mb-0 pagination"><li class="active"><button class="page" type="button" data-i="1" data-page="5">1</button></li><li><button class="page" type="button" data-i="2" data-page="5">2</button></li><li><button class="page" type="button" data-i="3" data-page="5">3</button></li><li class="disabled"><button class="page" type="button">...</button></li></ul><button class="page-link pe-0" data-list-pagination="next"><svg class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"></path></svg><!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com --></button>
          </div>
        </div>
      </div>
    



    </div>


                      <div class="modal fade" id="block" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Confirm Block</h5><button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><svg class="svg-inline--fa fa-xmark fs-9" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path></svg><!-- <span class="fas fa-times fs-9"></span> Font Awesome fontawesome.com --></button>
                            </div>
                            <div class="modal-body">
                              <p class="text-body-tertiary lh-lg mb-0"> Are you sure want to Block ? </p>
                            </div>
                            <div class="modal-footer"><button class="btn btn-primary" type="button" onclick="save()">Block</button><button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Cancel</button></div>
                          </div>
                        </div>
                      </div>




                      <div class="modal fade" id="unBlock" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Confirm UnBlock</h5><button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><svg class="svg-inline--fa fa-xmark fs-9" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z"></path></svg><!-- <span class="fas fa-times fs-9"></span> Font Awesome fontawesome.com --></button>
                            </div>
                            <div class="modal-body">
                              <p class="text-body-tertiary lh-lg mb-0">Are you sure want to UnBlock ? </p>
                            </div>
                            <div class="modal-footer"><button class="btn btn-primary" type="button" onclick="save()">UnBlock</button><button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">Cancel</button></div>
                          </div>
                        </div>
                      </div>
                    
    

                    
    
  
    
      

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"></script>
    <script>
      var val
      function block(value) {
        val = value
        console.log(val);
      }
      function save() {
        document.getElementById(val).click()
        console.log(`true${val}`);
      }

    </script>

<br>
<br>

<%- include ('../partials/adminFooter.ejs') %>