


<%- include('../partials/header.ejs') %>



<section class="py-0">
  <div class="container-small">
    <div class="scrollbar">
      <div class="d-flex justify-content-between"><a class="icon-nav-item" href="/loadShop?category=0">
          <div class="icon-container mb-2"><span class="fs-4 uil uil-mobile-android"></span></div>
          <p class="nav-label">Mobile</p>
        </a><a class="icon-nav-item" href="/loadShop?category=1">
          <div class="icon-container mb-2"><span class="fs-4 uil uil-inbox"></span></div>
          <p class="nav-label">Laptop</p>
        </a><a class="icon-nav-item" href="/loadShop?category=2">
          <div class="icon-container mb-2 "><span class="fs-4 uil uil-monitor"></span></div>
          <p class="nav-label">Monitor</p>
        </a><a class="icon-nav-item" href="/loadShop?category=3">
          <div class="icon-container mb-2"><span class="fs-4 uil uil-volume"></span></div>
          <p class="nav-label">Speaker</p>
        </a>
<!--         
        <a class="icon-nav-item" href="#!">
          <div class="icon-container mb-2"><span class="fs-4 uil uil-estate"></span></div>
          <p class="nav-label">Home</p>
        </a><a class="icon-nav-item" href="#!">
          <div class="icon-container mb-2"><span class="fs-4 uil uil-gift"></span></div>
          <p class="nav-label">Gifts</p>
        </a><a class="icon-nav-item" href="#!">
          <div class="icon-container mb-2"><span class="fs-4 uil uil-wrench"></span></div>
          <p class="nav-label">Tools</p>
        </a> -->

        <a class="icon-nav-item" href="/loadShop">
          <div class="icon-container mb-2"><span class="fs-4 uil uil-palette"></span></div>
          <p class="nav-label">Others</p>
        </a></div>
    </div>
  </div>
</section>







    

  
   


       
  
        
        
       <br>

        <% if(banner ) {%>     


            <!-- Start Banner Hero -->
            <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
              <ol class="carousel-indicators">
                  <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
                  <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
                  <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
            
                <div class="carousel-item active">
                  <div class="container">
                     
                    <div class="col-12">
                      <div class="whooping-banner w-100 rounded-3 overflow-hidden">
                        <div class="bg-holder z-index--1 " style="background-image:url(/uploads/<%=banner.image[0]%>);background-position: bottom right;"></div>
                        
                        <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div> 
                        <div class="banner-text light">
                          <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
                          <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
                        </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
                      </div>
                    </div>
            
                  </div>
              </div>
            
            
              <% for(i=1;i<=banner.image.length;i++){%>
            
                 <div class="carousel-item">
                      <div class="container">
                         
                        <div class="col-12">
                          <div class="whooping-banner w-100 rounded-3 overflow-hidden">
                             <div class="bg-holder z-index--1 " style="background-image:url(/uploads/<%=banner.image[i]%>);background-position: bottom right;"></div>
                            
                             <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div> 
            
                            
                            <div class="banner-text light">
                              <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
                              <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
                            </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
                          </div>
                        </div>
            
                      </div>
                  </div>
            
                
                  <div class="carousel-item">
                      <div class="container">
                         
                        <div class="col-12">
                          <div class="whooping-banner w-100 rounded-3 overflow-hidden">
                            <div class="bg-holder z-index--1 " style="background-image:url(/uploads/<%=banner.image[i+1]%>);background-position: bottom right;"></div>
                            
                            <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div> 
                            <div class="banner-text light">
                              <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
                              <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
                            </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
                          </div>
                        </div>
            
                      </div>
                  </div>
            
            
              </div>
              <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
                  <i class="fas fa-chevron-left"></i>
              </a>
              <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
                  <i class="fas fa-chevron-right"></i>
              </a>
            </div>
            <!-- End Banner Hero -->
            
            
            <% } }
            else { %>
            
            
            <div class="container px-xl-0 px-xxl-3">
              <div class="row g-3 mb-9">
                <div class="col-12">
                  <div class="whooping-banner w-100 rounded-3 overflow-hidden">
                    <div class="bg-holder z-index--1 product-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_product.png);background-position: bottom right;"></div>
                    <!--/.bg-holder-->
                    <div class="bg-holder z-index--1 shape-bg" style="background-image:url(../../../assets/img/e-commerce/whooping_banner_shape_2.png);background-position: bottom left;"></div>
                    <!--/.bg-holder-->
                    <div class="banner-text light">
                      <h2 class="text-warning-300 fw-bolder fs-lg-5 fs-xxl-6">Whooping <span class="gradient-text">60% </span>Off</h2>
                      <h3 class="fw-bolder fs-lg-3 fs-xxl-5 text-white light">on everyday items</h3>
                    </div><a class="btn btn-lg btn-primary rounded-pill banner-button" href="#!">Shop Now</a>
                  </div>
                </div>
                
              </div>
            </div>
            
            
            <%}%>
            
            
    <!-- End Banner Hero -->
        <br>
       










<section class="container py-5">



<div class="mb-6">
  <div class="d-flex flex-between-center mb-3">
    <h3>Top Electronics</h3><a class="fw-bold d-none d-md-block" href="/loadShop">Explore more<span class="fas fa-chevron-right fs-9 ms-1"></span></a>
  </div>
  <div class="swiper-theme-container products-slider">
    <div class="swiper swiper-container theme-slider" data-swiper='{"slidesPerView":1,"spaceBetween":16,"breakpoints":{"450":{"slidesPerView":2,"spaceBetween":16},"576":{"slidesPerView":3,"spaceBetween":20},"768":{"slidesPerView":4,"spaceBetween":20},"992":{"slidesPerView":5,"spaceBetween":20},"1200":{"slidesPerView":6,"spaceBetween":16}}}'>
      <div class="swiper-wrapper">
       

        <% for(i=0;i<product.length-1;i++){ %>
          <% if(product[i]){%>

        <div class="swiper-slide">


          <div class="position-relative text-decoration-none product-card h-100">
            <div class="d-flex flex-column justify-content-between h-100">


              <div>
             
                <div class="border border-1 border-translucent rounded-3 position-relative mb-3">
                   
                            <a class="stretched-link" href="/view-details?id=<%=product[i]._id%>">
                            <img class="img-fluid" src="/uploads/<%=product[i].image[0]%>" alt="" /></div>
                        </a>

                  <h6 class="mb-2 lh-sm line-clamp-3 product-name"><%=product[i].name%></h6>


                  <p class="fs-9">

                    <% let n=product[i].rating %>

                    <%  for(j=0;j<n;j++){ %>
                      <span class="fa fa-star " style="color: goldenrod;"></span>
                      <% } %>
                    </p>

                    <h5 class="text-body-emphasis  fs-9"><s class="text-muted">(₹ <%=product[i].price + 967  %> )</s>   ₹ <%=product[i].price%> </h5>

  
                
              </div>


            </div>

          </div>


        </div>

        <% }} %>
          

      
      </div>
    </div>
    <div class="swiper-nav">
      <div class="swiper-button-next"><span class="fas fa-chevron-right nav-icon"></span></div>
      <div class="swiper-button-prev"><span class="fas fa-chevron-left nav-icon"></span></div>
    </div>
  </div><a class="fw-bold d-md-none" href="#!">Explore more<span class="fas fa-chevron-right fs-9 ms-1"></span></a>
</div>




</section>












    <%- include('../partials/footer.ejs') %>
